<div class="container mx-auto">
    <div class="card w-85 bg-info-content shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Create or Join a Home</h2>
          <!-- <select class="select select-bordered select-xs w-20 min-w-min" (change)="changeSubCat($event)">
            <option disabled selected>Select a sub category</option>          
                <option  *ngFor="let cat of subCategories" [value]="cat">{{cat}}</option>
          </select> -->
          <!-- <input type="text" placeholder="Name of expense" class="input input-xs w-20 min-w-min" /> -->

          <!-- <div class="card-actions">
            <button class="btn btn-xs btn-info">Submit</button>
          </div> -->
          <div class="grid grid-cols-4 gap-4">
            <input type="text" placeholder="Home ID:" class="input input-xs w-full max-w-xs" [(ngModel)]="joinRoomId"/>
            <button class="btn btn-xs btn-accent" (click)="joinRoom()">Join</button>
            <input type="text" placeholder="Home ID:" class="input input-xs w-full max-w-xs" [(ngModel)]="createRoomId" />
            <button class="btn btn-xs btn-primary" (click)="createRoom()">Create</button>
          </div>
          <div *ngIf="loading">
            <span class="loading loading-dots loading-lg"></span>
          </div>
          <div *ngIf="createError" class="toast toast-center">
            <div class="alert alert-error">
                <span>{{createErrorMessage}}</span>
              </div>
          </div>
          <div *ngIf="joinError" class="toast toast-center">
            <div class="alert alert-error">
                <span>{{joinErrorMessage}}</span>
              </div>
          </div>
        </div>
      </div>
</div>